

header {
  flex: 0 0 2rem; 
}

.index, .main {
  background-color: $color-panel-grey;

}

.main {

  flex: 1 0 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;

  @include landscape {
    flex-flow: row nowrap;
  }

  .canvas-container {
    flex: 1 0 auto;
    margin: 0.5em;
   // box-sizing: border-box;
    position: relative;


      .Canvas {
        position: relative;
        margin-left: auto; 
        margin-right: auto; 
      }

      canvas {
        position:absolute; 
      }

      .Canvas, canvas {
        border: solid 1px $color-border-grey;
        box-sizing: border-box;

        max-width: 500px; 
        max-height: 500px; 

        height: calc(100vh - 24rem); 
        width: calc(100vh - 24rem); 

        @include landscape {

          height: calc(100vw - 30rem); 
          width: calc(100vw - 30rem); 

        }
      }


  
    



    }

    //flex: 0 1 calc(100vw - 1.6em);


  


  .controls {
    flex: 0 0 19rem;

    @include landscape {
      flex: 0 0 30em;
    }
  }
}
