header {
  flex: 0 0 3rem;
}

.index,
.main {
  background-color: $color-panel-grey;
}


.index {

  display: grid; 
  grid-template-columns: 1fr 4em; 
  grid-template-rows: 3em 1fr 20em 2em;   //It's good to have a good amount of padding on the footer, because otherwise you are touching the back button on androids.

  grid-template-areas: "header header" "display global" "controls controls" "footer footer";


  @include tablet-landscape-and-up {
    grid-template-columns: 300px 4em 1fr; 
    grid-template-rows: 3em 1fr 1em; 
    grid-template-areas: "header header header"
     "display global controls"
     "footer footer footer";
  }

  @include desktop-and-up {
    grid-template-columns: 500px 4em 1fr; 
  }

  header {
    grid-area: header; 
  }

  footer {
    grid-area: footer; 
  }

  .canvas-container {
    grid-area: display; 
  }  

  .controls {
    grid-area: controls; 
  }

  footer {
    grid-area: footer; 
  }

  .global-controls {
    grid-area: global; 
    padding: 0.25em;
  }


}

.canvas-container {
  position: relative;
  .Canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .Canvas,
  canvas {
    border: solid 1px $color-border-grey;
    box-sizing: border-box;
    max-width: 500px;
    max-height: 500px; //  height: calc(100vh - 28rem); 


    @include tablet-landscape-and-up {
      width: 300px;
      height: 300px; 
    }

    @include desktop-and-up {
      width: 500px; 
      height: 500px;
    }

    //  width: calc(100vh - 28rem); 
    // @include landscape {
    //   height: calc(100vw - 30rem);
    //   width: calc(100vw - 30rem);
    // }
  }
}