.btn {
  background-color: $color-background-grey-b;
  color: $color_white;
  border: solid 2px $color-background-grey-d;
  border-radius: 0.5em;

  &.btn-large {

    font-size: 2rem;
    padding: 0.25em;
    margin: 0.25em;

    width: 2em;
    height: 2em; 
  }

  &.btn-xlarge {
    font-size: 3rem;
  }

}
