.contact {
    padding: 0.5em;
    padding-bottom: 0; 
    display: none;
    flex-flow: row nowrap; 
    justify-content: space-between; 
    align-items: center;

    &>div {
        flex: 1 0 auto; 
    }
    &>* {
        margin: 0.3em; 
    }

    @include landscape {
        display: flex; 
    }


    img {
        object-fit: scale-down; 


        &.github {
            width: 3.5em;
            height: 3.5em;
        }
    }

}