.global-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  button {
    min-height: 3em;
    min-width: 3em;
    margin: 0.25em;
  }
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  .algorithmcontrols-component {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    .react-tabs__tab-panel--selected {
      display: flex;
      flex-flow: row nowrap; 
      position: relative; // justify-content: flex-start;
      align-items: stretch;
      overflow-x: auto;


      @include landscape {
        flex-flow: row wrap; 
        &>* {
          max-height: 15em;
        }
      }
 

      .slider-wrapper {
        height: auto; 
      }
      .rgba-picker {
        margin: 0; 
        height: auto; 
        border: none; 

        .slider-wrapper {
          height: 100%; 
        }
      }

    }

  }
}