.global-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  button {
    min-height: 3em;
    min-width: 3em;
    margin: 0.25em;
  }
}

.slider-wrapper {
  min-height: 15em;
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  .algorithmcontrols-component {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    .react-tabs__tab-panel--selected {
      display: flex;
      position: relative; // justify-content: flex-start;
    }
    /* sub panels within a tab*/
    .controls-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      &>* {
        @include tablet-landscape-and-up {
          min-height: 13em; 
          max-height: 13em;
          height: auto;
          align-self: flex-start;
          box-sizing: border-box;
          margin: 0.2em;
        }
        align-self: stretch; 
        height: auto;
      }


      >.controls-container {
        position: static;
        padding: 0;
        border: none;
      }
      display: flex;
      flex-flow: row nowrap;
      overflow-x: auto;
      align-items: stretch;
      justify-content: flex-start;
      @include landscape {
        align-items: flex-start;
        flex-flow: row wrap;
        align-content: flex-start;
      }
    }
  }
}