header {

  padding: 0.25em;
  .build-num {
    font-size: 0.8em;
    color: #777; 
    margin-left: 2em;
    align-self: center; 
  }

  button {
    padding: 0 1em;
  }
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: space-between;
  align-items: stretch; 

}
