h2 {
    text-align: left;
}

a.back-to-top {
    display: block; 
    text-align: center; 
}

.screenshots {
    display:flex; 
    
    .image-container {
        margin: 1em;
    }
    .mobile {
        max-width: 20em;
    }

    .desktop {
        max-width: 30em; 
    }

    img {
        object-fit: scale-down; 
        max-width: 100%;
    }

    figcaption {
        text-align: center; 
        display: block;
    }
}