
.overlay-container {



    .overlay-trigger {
        width: 100%; 
        height: 100%; 
    }

    .btn-close {
        grid-area: close-button; 
        margin: 0;

        @include tablet-portrait-and-below {
            position: absolute; 
            right:0;
        }
    }

    .overlay-content {
        grid-area: overlay-content; 
    }
    .overlay-dialog {
        display: none; 
        padding: 1em;

        &.open {
            display: grid; 
        }
        z-index: 10; 
        background-color: $color-background-grey-d;
        border: solid 2px $color-background-grey-c;
        border-radius: 1em;
        overflow-y: auto;
        position: fixed;
        left: 1em;
        right: 1em;
        top: 1em;
        bottom: 1em;
    
        grid-template-rows: 4em 1fr 4em; 
        grid-template-columns: 4em 1fr 4em; 
        grid-template-areas: "overlay-header overlay-header close-button" 
        ". overlay-content ." 
        "overlay-footer overlay-footer overlay-footer"; 
    

        @include tablet-portrait-and-below {
            grid-template-columns: 2em 1fr 2em; 

        }
    
        button.close {
            grid-area: close-button
        }
    
    }
}

