.share-overlay {

  background-color: $color-background-grey-d;
  border: solid 2px $color-background-grey-c;
  border-radius: 1em;

  overflow: hidden;
  position: fixed;
  left: 1em;
  right: 1em;
  top: 1em;
  bottom: 1em;
  display:none;
  //display: flex !important; //for development
  flex-flow: column nowrap;
  align-items: stretch;



  z-index: 2;
  &.visible{
    display: flex;
  }

  &.image-ready {
    .SocialMediaShareButton{
      cursor: pointer; 
      opacity: 1; 
    }
  }


  .SocialMediaShareButton{
    cursor: not-allowed; 
    opacity: 0.1; 
  }



  .share-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    h2 {
      flex: 1 0 auto;
    }
  }

  .share-buttons {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5em;
    align-items: stretch;
    &>* {
      margin-left: 1rem;
      
    }

    a {
      width: 64px;
      height: 64px; 

      button {
        height: 100%; 
        width: 100%; 
        font-size: 2em; 
        border:none;
      }
    }
  }

  .share-image-container {

    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: stretch; 
    margin: 1em;

    img {
     object-fit: contain;
     max-width: 100%; 

     @include landscape {
       max-height: 100%; 
       max-width: auto; 
     }

   }


  }




  .progress-bar {

    margin-top: 0.6em;
    .file-progress-inner {
      background-color: #4f4;
      height: 0.5em;
      width: 0em; 
    }
  }
  

}
