
/*
A container of several sliders
*/

.controls-container{
  &> div {
    border: solid 2px $color-panel-component-border-grey;
    margin: 0 0.2rem;

    background-color: $color-panel-component-grey;

  }
}

.slider-container {
  display: flex;
  flex-flow: row nowrap;



  h3 {
    flex: 1 0 100%;
  }

}

.slider-wrapper {
  padding: 0.25em; 
  flex: 0 0 4em;

  display: flex; 
  flex-flow: column nowrap; 


  label {
    margin: 0.25em 0 0.3em; 
    font-size: 0.55em;
    font-weight: normal; 
    text-align: center; 
  }

  .slider {
    margin: 0 auto; 
    flex: 1 0 auto; 
  }

  div.value {
    margin: 0;
    margin-top: 0.25em; 
    text-align: center; 
  }

}

.slider {
  width: 3em;
  background-color: $color-slider-bg; 
  position: relative; 


  .slider-handles {
    width: 100%; 
    position: absolute; 
    top: 1.5em;
    bottom: 1.5em;


  }

  .slider-handle {
    height: 3em;
    width: 3em;
    border-radius: 2em; 
    position: absolute; 
    background-color: $color-slider-handle; 
    z-index: 2; 

    &:hover {
      cursor: grab; 
    }
  }

  .slider-rail {
    width: 100%; 
    background-color:$color-slider-bg;
    height: 100%;
  }

  .slider-tracks {
    position: absolute; 
    top: 1.5em;
    bottom: 1.5em;
    width: 100%; 
  }

  .slider-track {
    position: absolute;
    
    left: calc(50% - 0.25em); 
    width: 0.5em;
    z-index: 1; 
    background-color: $color-slider-track;  
    border-radius: 4; 
    cursor: pointer; 
  }
}

