
/*MAIN*/
$color-background-black: #000;
$color-background-grey: #333;
$color-background-grey-b: #555;
$color-background-grey-c: #2f2f2f;
$color-background-grey-d: #444;




/*PANELS*/
$color-panel-grey: #222;
$color-panel-border-grey: #888;

$color-panel-component-grey: #333;
$color-panel-component-border-grey: #1e1e1e;


$color-slider-bg: $color-panel-component-grey; 
$color-slider-track: #111;
$color-slider-handle: $color-panel-border-grey; 

/*SLIDERS*/
$color-slider-grey: #1c1c1c;
$color-slider-border-grey: #111;
$color-slider-handle-grey: #aaa;

/*TABS*/
$color-tabs-grey: #222;



$color-border-grey: #666;


$color-black: #000;
$color-off-black: #222;


$color-off-white: #ddd;

$color-white: #fff;

