.toast {
    position: fixed;
    display:block;
  
    bottom: 2em;
    height: 2em;
    width: 10em;
    left: calc(50% - 5em);
  
    animation: toast-fade-in 1s 2 alternate;
  
  
    background-color: black;
    border-radius: 2em;
  
    color: white;
    text-align: center;
    padding: 1em;
    line-height: 2em;
  
    opacity: 0;
  
  }
  
  
  @keyframes toast-fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }