
$font-sans: "Trebuchet MS Header";
$font-serif: "Courier New";

body {
  font-family: $font-serif;
  color: $color-off-white;
}

h1,h2,h3,h4,h5,h6 {



  margin: 0.5em 0;

  font-family: $font-serif;

  color: $color-off-white;

  text-align: center;

}


h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2em;


  @include landscape {
      font-size: 3rem;
  }
}

label {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

button.glyphicon {
  color: $color-black;
}

a {
  &:hover {
    font-weight: bold; 
  }

  &:visited {
    color: white; 
  }
}