
/**
  CSS pattern:


  Im just going to do a CSS monolith all imported at index.js for now. 
*/

@import "mixins/media";

@import "theme";
@import "typography";

@import "app";
@import "buttons"; 
@import "carousel"; 
@import "colorparam"; 
@import "controls"; 
@import "header"; 
@import "share"; 
@import "slider"; 
@import "tabs"; 







html, body, #root, .index {
  height: 100%;
  overflow: hidden;
}

body, #root, .index, .main{
  margin: 0;
  padding: 0;
}


.index {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}



